
bin/Debug/SDL-Library.exe
bin/Debug/SDL2.dll
bin/Debug/SDL2_image.dll
Window.vim
SDL-Library.depend
obj/Debug/main.o
obj/Debug/src/Init.o
obj/Debug/src/Window.o
SDL-Library.cbp
SDL-Library.cbp
SDL-Library.layout
SDL-Library.cbp
/media
src/.Surface.cpp.swp
src/.Window.cpp.swp
include/.Surface.h.swp
include/.Window.h.swp
obj/Debug/src/Surface.o
.main.cpp.swp
Surface.vim
include/.ErrorTracker.h.swp
include/.Init.h.swp
.sdl-lib-notex.txt.swp
obj/Debug/src/ErrorTracker.o
src/.ErrorTracker.cpp.swp
src/.Init.cpp.swp
